
<div class="tarjeta" [routerLink]="['/proyecto',element.projectId]" *ngFor="let element of lst ">

  <div class="my-card">
    <div class="my-card-head">{{ element.nombre }}</div>
    <div class="my-card-body">
      <div class="row">
        <div class="col-lg-9 text-body text-muted">
          {{ element.descripcion }}
        </div>
        <div class="col-lg-3 graph-card">
          <img src="assets\img\progreso.png" class="img-fluid" style="max-width: 150px;" >
        </div>
      </div>
      </div>
    <div class="my-card-footer">
      <button class="btn btn-primary btn-tarjet">Pausar</button>
      <button class="btn btn-primary btn-tarjet">Finalizar</button>
      <button class="btn btn-primary btn-tarjet">Cancelar</button>
    </div>
    
  </div>

  <br><br>

</div>