.tarjeta{
  margin: auto;
  width: 100%;
}

.btn-tarjet{
  margin: 5px;
  width: 90px;
  height: auto;
  font-size:small;
  padding: auto;
}

.footer-tarjet{
  text-align: right; 
  background-color: white;

}

.card-footer{
  text-align: right; 
  background-color: white;
}

.graph-card{
  /* background-color:rgb(252, 233, 233); */
  height: 164px;
  /* border-left: 1px solid rgb(224, 223, 223); */
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
}

.my-card{
  margin: auto;
  width: 80%;
  height: 250px;
  border-radius: 5px;
  border: 1px;
  border-color:rgb(3, 3, 3);
  border-style: solid;
  cursor: pointer;
}

.my-card-head{
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgb(167, 167, 167);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 20px;
  justify-content: space-between;
}

.my-card-body{
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 164px;
  padding-left: 0px;
  padding-right: 15px;
}

.my-card-footer{ 
  text-align: right;
}

.text-body{
  padding-top: 10px;
  padding-left: 35px;
  text-align: start;
}

.btn-nuevo{
  text-align: right ;
}

.container-modal {
  padding: 2%;
}

.container-modal_line {
  display: flex;
  padding: 5px;
  justify-content: space-around;

}

.container-modal_line > label {
  width: 25%;
}

.container-modal_line >input, textarea, select, input {
  width: 75%;
}

.container_modal_line__fechas {  
  display: flex;
  justify-content: space-between;

}

.container_modal_line_fechas__seccion {
  display: flex;
  justify-content: space-between;
}

.container_modal_line_fechas__seccion > label {
  width: 20%;
  margin: auto;
}

.container_modal_line_fechas_seccion_vigencias{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.container_modal_line_fechas_seccion_vigencias > label{
  margin: auto;
  font-size: 2.6rem;
}

.input-group {
  width: 100%;
}

.container_modal_line_fechas_seccion_vigencias_fec {
  display: flex;
  border: 1px gray;
  width: 45%;
}

.container_modal_line_fechas_seccion_vigencias_fec > label{
  margin: auto;
  width: 50%;
}

.btn_modal {
  text-align: center;
  margin-top: 50px;
}

.btn_modal_accept {
  width: 50%;
}

.button_add {  
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: honeydew; 
}

.button_add > button{
  border:none;
  background-color: honeydew;  
}

.bodyProject{
  background-color: honeydew;
}

.class-icon {
  border: none;
  background-color: rgb(167, 167, 167);
  color: green;
  text-align: right;
}