<div class="col-md-12 contenedor">
      <div class="img-login">
        <img
          id="profile-img"
          src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
          class="profile-img-card img-fluid rounded-circle mr-2 img-login"
          style="max-width: 100px;"
        />
      </div>
      
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group credentials">
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              #username="ngModel"
              placeholder="alguien@gmail.com"
            />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
            El usuario es requerido!
          </div>
        </div>
        <div class="form-group credentials">
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="3"
            #password="ngModel"
            placeholder="*******"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors.required">La contraseña es requerida!</div>
            <div *ngIf="password.errors.minlength">
              Debe contener al menos 6 caracteres
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="boton_iniciar">
            Iniciar Sesión
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Error al Iniciar Sesión: {{ errorMessage }}
          </div>
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Se ha iniciado sesión como: {{ usuario.nombre }}.
    </div>
  </div>