<form class = "tarjeta border">
  <div class="formulario">
    <br><br>
      <div style="text-align: center;">
      <h6 class = "titulo">{{proyecto.name}}</h6>
    </div>

    <br>

    <p>{{proyecto.description}}</p>

    <label><b>Fecha Registro:</b> {{proyecto.registerDate}}</label><br>
    <label><b>Fecha Inicio:</b> {{proyecto.startDate}}</label><br>
    <label><b>Fecha Fin:</b> {{proyecto.endDate}}</label><br>

  </div>
  <br><br>

  <!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large
  modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
      <label>informacion</label>
    </div>
  </div>
</div>


</form>

