.tarjet{
  width: 83%;
  margin: auto;
  background-color: honeydew;
}

.bodyProject{
  margin: auto;
  width: 95%;
  height: 90%;
  margin-top: 35px;
}

.bordes{
  border: black;
}

.bodyContenido {  
  margin: auto;
  display: flex;
  text-align: left;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bodyContenido > label {  
  text-align: left;
  padding:10px;  
}

.bodyContenido_Left {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.bodyContenido_Left > label {
  padding:5px;
  
}

.bodyContenido_Right {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.bodyContenido_Right > label {
  padding:5px;
}

.descripcion {
  width: 95%;
  margin: auto;
  text-align: left;
  padding: 15px;
}

.titulo{
  margin:0px auto;
  padding: 10px;
  
}

.btnmodal{
  margin: auto;
  width: 20%;
  margin-right: 5%;
}

.button-icon {
  border: none;
  outline: none;
  text-align: right;
  padding: 2px;
  width: 100%;
  background-color: honeydew;
}

.add_activity {
  border: none;
  align-items: flex-end;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container_modal_line_fechas__seccion {
  display: flex;
  justify-content: space-between;
}

.container_modal_line_fechas__seccion > label {
  width: 20%;
  margin: auto;
}

.container_modal_line_fechas_seccion_vigencias{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.container_modal_line_fechas_seccion_vigencias > label{
  margin: auto;
  font-size: 2.6rem;
}

.input-group {
  width: 100%;
}

.container_modal_line_fechas_seccion_vigencias_fec {
  display: flex;
  border: 1px gray;
  width: 45%;
}

.container_modal_line_fechas_seccion_vigencias_fec > label{
  margin: auto;
  width: 50%;
}

.btn_modal {
  text-align: center;
  margin-top: 50px;
}

.btn_modal_accept {
  width: 50%;
}

.button_add {  
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: honeydew; 
}

.button_add > button{
  border:none;
  background-color: honeydew;  
}

.bodyProject{
  background-color: honeydew;
}

.class-icon {
  border: none;
  background-color: rgb(167, 167, 167);
  color: green;
  text-align: right;
}