<div class="tarjet border">
  <form>
    <div class="bodyProject">

      <button class="button-icon" (click)="open(mymodal)">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      
      <div  class="titulo">        
          <h2>{{proyecto.nombre}}</h2>        
      </div>

      
      <div class="descripcion">
        <p><b>Descripción:</b> {{proyecto.descripcion}}</p>
      </div>

      <div class="bodyContenido"> 

        <section class="bodyContenido_Left">
          <label><b>Fecha Registro: </b> {{ proyecto.fechaCreacion | date:'fullDate' }}</label>
          <label><b>Fecha Fin: </b>{{ proyecto.fechaFin | date:'fullDate' }}</label>
          
        </section>

        <section class="bodyContenido_Right">
          <label><b>Fecha Inicio: </b>{{ proyecto.fechaInicio | date:'fullDate' }}</label>        
          <label class="etiqueta"><b>Etiquetas: </b>{{ proyecto.etiqueta}}</label>          
        </section>

      </div>
    </div>
  </form>


  <ng-template #mymodal let-modal>
    <div class="modal-header" style="text-align: center">
      <h2 class="modal-title" style="margin: auto"><b>Editar Proyecto</b></h2>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <div class="container-modal">
        <form [formGroup]="frmproyectoEditar" (ngSubmit)="onSubmit(frmproyecto.value)">

          <div class="form-group container-modal_line">
            <label>Nombre del Proyecto</label>
            <input
              type="text"
              formControlName="nombreProyecto"
              class="form-control"
              value="Nombre dummy"
              [ngClass]="{ 'is-invalid': submitted && f.nombreProyecto.errors }"
            />

            <div
              *ngIf="submitted && f.nombreProyecto.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.nombreProyecto.errors.required">
                Por favor ingresa el nombre del Proyecto
              </div>
            </div>
          </div>

          <div class="form-group container-modal_line">
            <label>Descripción</label>
            <textarea
              formControlName="descripcionProyecto"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && f.descripcionProyecto.errors
              }"
            >
            </textarea>
            <div
              *ngIf="submitted && f.descripcionProyecto.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.descripcionProyecto.errors.required">
                Por favor ingresa la descripción del proyecto
              </div>
            </div>
          </div>

          <div class="form-group container-modal_line">
            <label>Etiquetas</label>
            <input
              type="text"
              formControlName="etiquetas"
              class="form-control"
            />
            <div
              *ngIf="submitted && f.etiquetas.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.etiquetas.errors.required">
                Por favor ingresa al menos una etiqueta
              </div>
            </div> 
          </div>

          <div class="form-group container-modal_line">
            <label>Porcentaje de Asignación</label>
            <input
              type="text"
              formControlName="porcentajeAsignacion"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && f.porcentajeAsignacion.errors
              }"
            />
            <div
              *ngIf="submitted && f.porcentajeAsignacion.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.porcentajeAsignacion.errors.required">
                Por favor ingrese el procentaje
              </div>
            </div>
          </div>

          <div class="form-group container-modal_line">
            <label for="tipoProyecto"> Tipo de Proyecto</label>

            <select
              class="form-control"
              formControlName="tipoProyecto"
              [ngClass]="{ 'is-invalid': submitted && f.tipoProyecto.errors }"
            >
              <option value="">Seleccionar</option>
              <option
                *ngFor="let tipoProyecto of tiposProyectos"
                value="{{ tipoProyecto.idTipoProyecto }}"
              >
                {{ tipoProyecto.nombre }}
              </option>
            </select>
          </div>

          <br />

          <div class="container_modal_line_fechas__seccion">
            <label for="fechaInicio">Fechas Estimadas</label>
            <div class="container_modal_line_fechas_seccion_vigencias">
              <div class="container_modal_line_fechas_seccion_vigencias_fec">
                <label for="fechaInicio">Fecha Inicio</label>
                <div class="input-group">
                  <input
                    class="form-control input_fecha"
                    formControlName="fechaInicio"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    [(ngModel)]="modelFechaInicio"
                    ngbDatepicker
                    #d="ngbDatepicker"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary calendar"
                      (click)="d.toggle()"
                      type="button"
                    ></button>
                  </div>
                </div>
              </div>

              <div class="container_modal_line_fechas_seccion_vigencias_fec">
                <label for="fechaFin">Fecha Fin</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    formControlName="fechaFin"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    [(ngModel)]="modelFechaFin"
                    ngbDatepicker
                    #c="ngbDatepicker"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary calendar"
                      (click)="c.toggle()"
                      type="button"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      
    </div>

    <div class="modal-footer">
      este es el footer
    </div></ng-template
    >

<br>

<!-- Sección Actividades -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Actividades</h4>
            <button class="add_activity" (click)="open(modalActividades)" >
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th *ngFor="let tittle of headerRow">{{tittle}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of listaActividades">
                  <td>{{row.nombre}}</td>
                  <td>{{row.descripcion}}</td>
                  <td>{{row.duracionMinutos}}</td>
                  <td>{{row.fechaInicio | date:'fullDate'}}</td>
                  <td>{{row.fechaFin | date:'fullDate'}}</td>
                </tr>
              </tbody>
              
            </table>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #modalActividades let-modal>

  <div class="modal-header" style="text-align: center;">
    <h2 class="modal-title" style="margin: auto;"><b>Crear Actividad</b></h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modal-body">
    <div class="container">
      <div class="starter-template">
        <div class="row">
          <div class="col-md-12 mt-5">
            <form [formGroup]="frmActividad" (ngSubmit)="onSubmitActividad(frmActividad.value)">

              <div class="form-group">
                <label>Nombre Actividad</label>
                <input type="text" formControlName="nombreActividad" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.nombreActividad.errors }" />
                <div *ngIf="submitted && f.nombreActividad.errors" class="invalid-feedback">
                  <div *ngIf="f.nombreActividad.errors.required">Por favor ingresa el nombre de la actividad</div>
                </div>
              </div>

              <div class="form-group">
                <label>Descripción</label>
                <textarea formControlName="descripcionActividad" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.descripcionActividad.errors }"> </textarea>
                <div *ngIf="submitted && f.descripcionActividad.errors" class="invalid-feedback">
                  <div *ngIf="f.descripcionActividad.errors.required">Por favor ingresa la descripción de la actividad</div>
                </div>
              </div>

              <div class="form-group">
                <label>Duración en Minutos</label>
                <input type="text" formControlName="duracionMinutos" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.duracionMinutos.errors }" />
                <div *ngIf="submitted && f.duracionMinutos.errors" class="invalid-feedback">
                  <div *ngIf="f.duracionMinutos.errors.required">Por favor ingresa la duración de la actividad</div>
                </div>
              </div>

              <div class="form-group">
                <label for="fechaInicio">Fecha Inicio</label>

                <div class="input-group">
                  <input class="form-control" formControlName="fechaInicio" placeholder="yyyy-mm-dd" name="dp"
                    [(ngModel)]="modelFechaInicio" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="fechaFin">Fecha Fin</label>

                <div class="input-group">
                  <input class="form-control" formControlName="fechaFin" placeholder="yyyy-mm-dd" name="dp"
                    [(ngModel)]="modelFechaFin" ngbDatepicker #c="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="c.toggle()" type="button"></button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="tipoTiempo">Tipo de Tiempo</label>
                <select class="form-control" formControlName="tipoTiempo"
                  [ngClass]="{ 'is-invalid': submitted && f.tipoTiempo.errors }">
                  <option value="">Seleccionar</option>
                  <option *ngFor="let tipoTiempo of listaTiposTiempo"  value="{{tipoTiempo.idTipoTiempo}}">{{tipoTiempo.nombre}}</option>
                </select>
              </div>

              
              <div class="form-group">
                <label for="tipoActividad">Tipo de Tiempo</label>
                <select class="form-control" formControlName="tipoActividad"
                  [ngClass]="{ 'is-invalid': submitted && f.tipoActividad.errors }">
                  <option value="">Seleccionar</option>
                  <option *ngFor="let tipoActividad of listaTiposActividad"  value="{{tipoActividad.idTipoActividad}}">{{tipoActividad.nombre}}</option>
                </select>
              </div>
            
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Aceptar</button>
              </div>

            </form>

          </div>

        </div>

      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


</div>