<div class="tarjeta border">

  <form>
    <div class="contenedorform">
      <br><br>
      <div style="text-align: center;">
        <h6 class="titulo">
          <h2>{{proyecto.nombre}}</h2>
        </h6>
      </div>

      <br>

      <p>{{proyecto.descripcion}}</p>

      <div class="row">
        <div class="col-lg-6">
          <label><b>Fecha Registro: </b> {{ proyecto.fechaCreacion | date:'fullDate' }}</label>
        </div>
        <div class="col-lg-6">
          <label><b>Fecha Inicio: </b>{{ proyecto.fechaInicio | date:'fullDate' }}</label>
        </div>
        <div class="col-lg-6">
          <label><b>Fecha Fin: </b>{{ proyecto.fechaFin | date:'fullDate' }}</label>
        </div>
        <div class="col-lg-6">
          <label><b>Etiquetas: </b>{{ proyecto.etiqueta}}</label>
        </div>
      </div>
    </div>
  </form>

<br><br>
<div style="text-align: right;">
  <button class="btnmodal btn btn-lg btn-outline-primary" (click)="open(mymodal)">Editar</button>
</div>
<br>

<ng-template #mymodal let-modal>

  <div class="modal-header" style="text-align: center;">
    <h2 class="modal-title" style="margin: auto;"><b>Editar Datos del Proyecto</b></h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modal-body">
    <div class="container">
      <div class="starter-template">
        <div class="row">
          <div class="col-md-12 mt-5">
            <form [formGroup]="frmproyecto" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Nombre del Proyecto</label>
                <input type="text" formControlName="nombreProyecto" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.nombreProyecto.errors }" />
                <div *ngIf="submitted && f.nombreProyecto.errors" class="invalid-feedback">
                  <div *ngIf="f.nombreProyecto.errors.required">Por favor ingresa el nombre del Proyecto</div>
                </div>
              </div>

              <div class="form-group">
                <label for="tipoProyecto"> Tipo de Proyecto</label>

                <select class="form-control" formControlName="tipoProyecto"
                  [ngClass]="{ 'is-invalid': submitted && f.tipoProyecto.errors }">
                  <option value="">Seleccionar</option>
                  <option value="Personal">Personal</option>
                  <option value="Intergrupo">Intergrupo</option>
                  <option value="Estudio">Estudio</option>
                </select>

                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                        #d="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </form>

                <hr />
                <pre>Model: {{ model | json }}</pre>


                <div *ngIf="submitted && f.tipoProyecto.errors" class="invalid-feedback">
                  <div *ngIf="f.tipoProyecto.errors.required">Por favor, Selecciona el tipoProyecto</div>
                </div>
              </div>

              <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">El email es obligatorio</div>
                  <div *ngIf="f.email.errors.email">Por favor, ingresa tu Email</div>
                </div>
              </div>
              <div class="form-group">
                <label>Asunto</label>
                <input type="text" formControlName="asunto" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.asunto.errors }" />
                <div *ngIf="submitted && f.asunto.errors" class="invalid-feedback">
                  <div *ngIf="f.asunto.errors.required">Por favor, ingresa el Asunto</div>
                </div>
              </div>

              <div class="form-group">
                <label for="mensaje">Mensaje</label>
                <textarea class="form-control" formControlName="mensaje" rows="3"
                  [ngClass]="{ 'is-invalid': submitted && f.mensaje.errors }"></textarea>
                <div *ngIf="submitted && f.mensaje.errors" class="invalid-feedback">
                  <div *ngIf="f.mensaje.errors.required">Por favor, ingresa el Mensaje ( 6 Caracteres mínimo )</div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">Aceptar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<br>

<!-- Sección Actividades -->

<div style="text-align: right;">
  <button class="btnmodal btn btn-lg btn-outline-primary" (click)="open(modalActividades)">Nueva Actividad</button>
</div>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Actividades</h4>

          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th *ngFor="let tittle of headerRow">{{tittle}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of listaActividades">
                  <td>{{row.nombre}}</td>
                  <td>{{row.descripcion}}</td>
                  <td>{{row.duracionMinutos}}</td>
                  <td>{{row.fechaInicio | date:'fullDate'}}</td>
                  <td>{{row.fechaFin | date:'fullDate'}}</td>
                </tr>
              </tbody>
              
            </table>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #modalActividades let-modal>

  <div class="modal-header" style="text-align: center;">
    <h2 class="modal-title" style="margin: auto;"><b>Crear Actividad</b></h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modal-body">
    <div class="container">

      <div class="starter-template">

        <div class="row">

          <div class="col-md-12 mt-5">



            <form [formGroup]="frmActividad" (ngSubmit)="onSubmitActividad(frmActividad.value)">

              <div class="form-group">
                <label>Nombre Actividad</label>
                <input type="text" formControlName="nombreActividad" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.nombreActividad.errors }" />
                <div *ngIf="submitted && f.nombreActividad.errors" class="invalid-feedback">
                  <div *ngIf="f.nombreActividad.errors.required">Por favor ingresa el nombre de la actividad</div>
                </div>
              </div>

              <div class="form-group">
                <label>Descripción</label>
                <textarea formControlName="descripcionActividad" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.descripcionActividad.errors }"> </textarea>
                <div *ngIf="submitted && f.descripcionActividad.errors" class="invalid-feedback">
                  <div *ngIf="f.descripcionActividad.errors.required">Por favor ingresa la descripción de la actividad</div>
                </div>
              </div>

              <div class="form-group">
                <label>Duración en Minutos</label>
                <input type="text" formControlName="duracionMinutos" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.duracionMinutos.errors }" />
                <div *ngIf="submitted && f.duracionMinutos.errors" class="invalid-feedback">
                  <div *ngIf="f.duracionMinutos.errors.required">Por favor ingresa la duración de la actividad</div>
                </div>
              </div>

              <div class="form-group">
                <label for="fechaInicio">Fecha Inicio</label>

                <div class="input-group">
                  <input class="form-control" formControlName="fechaInicio" placeholder="yyyy-mm-dd" name="dp"
                    [(ngModel)]="modelFechaInicio" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="fechaFin">Fecha Fin</label>

                <div class="input-group">
                  <input class="form-control" formControlName="fechaFin" placeholder="yyyy-mm-dd" name="dp"
                    [(ngModel)]="modelFechaFin" ngbDatepicker #c="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="c.toggle()" type="button"></button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="tipoTiempo">Tipo de Tiempo</label>
                <select class="form-control" formControlName="tipoTiempo"
                  [ngClass]="{ 'is-invalid': submitted && f.tipoTiempo.errors }">
                  <option value="">Seleccionar</option>
                  <option *ngFor="let tipoTiempo of listaTiposTiempo"  value="{{tipoTiempo.idTipoTiempo}}">{{tipoTiempo.nombre}}</option>
                </select>
              </div>

              
              <div class="form-group">
                <label for="tipoActividad">Tipo de Tiempo</label>
                <select class="form-control" formControlName="tipoActividad"
                  [ngClass]="{ 'is-invalid': submitted && f.tipoActividad.errors }">
                  <option value="">Seleccionar</option>
                  <option *ngFor="let tipoActividad of listaTiposActividad"  value="{{tipoActividad.idTipoActividad}}">{{tipoActividad.nombre}}</option>
                </select>
              </div>
            
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Aceptar</button>
              </div>

            </form>

          </div>

        </div>

      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


</div>