.tarjeta{
  margin: auto;
  width: 90%;
}

.contenedorform{
  margin: auto;
  width: 80%;
  height: 90%;
}

.bordes{
  border: black;
}

.titulo{
  margin:0px auto;
}

.btnmodal{
  margin: auto;
  width: 20%;
  margin-right: 5%;
}
