<nav class="navbar navbar-expand-lg navbar-white bg-white">
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
<!--         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Configuración</a>
        </li> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets\img\user-default.jpg" class="img-fluid rounded-circle avatar mr-2" >
            Alex Cervantes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Mi Perfil</a>
            <a class="dropdown-item" href="#">Parametrizaciones</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Cerrar Sesión</a>
          </div>
        </li>

      </ul>

    </div>
  </div>
</nav>
