.avatar{
    max-width: 35px;
}

.mynavbar {
    background:linear-gradient(rgb(59, 173, 116),honeydew);
    font-weight: bold;
    height: 100px;
    width: 100%;
}

.myitem {
    margin: 15px;
    cursor: pointer;
}

.container {
    background:linear-gradient(rgb(59, 173, 116),honeydew);
    border-radius: 5px;
    width: 100%;
}

#navbarSupportedContent{
    width: 100%;
}