.avatar{
    max-width: 35px;
}

.mynavbar {
    background-color: gray;
    display: inline;
    font-weight: bold;
}

.myitem {
    margin: 15px;
    cursor: pointer;
}

.container {
    background:linear-gradient(#bbb,#fff);
    width: 100%;
    border-radius: 5px;
}