<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Configuración</a>
        </li>

        <li class="nav-item">


          <a class="nav-link active" aria-current="page" href="#">Cerrar</a>

        </li>


      </ul>

    </div>
  </div>
</nav>
