<div class="sidebar-wrapper">
    <div class="logo" >
      <a href="http://www.creative-tim.com" class="text-light font-weight-bold">
          <div class="logo-img">
              <img src="/assets/img/angular2-logo-white.png"/>
          </div>
          My Organizator
      </a>
  </div>

  <div class="menu">

    <a *ngFor="let menuItem of menuItems" class="{{menuItem.class}}" [routerLink]="[menuItem.path]">
      <i class="{{menuItem.icon}}"></i> {{menuItem.title}}
    </a>

</div>
</div>
