<div class="body">
    <div class="content">
        <div class="timeCounter">

            <div class="button_play">
                <button class="class-icon" (click)="startTimer()">
                    <i class="cla_icon fa-solid fa-play-circle"></i>
                </button>
            </div>

            <div class="button_pause_stop">
                <div class="section_pause">
                    <button class="class-icon" (click)="pauseTimer()">
                        <i class="icon_pause fa-solid fa fa-pause"></i>
                    </button>
                </div>
                <div class="section_stop">
                    <button class="class-icon" (click)="pauseTimer()">
                        <i class="icon_stop fa-solid fa fa fa-stop"></i>
                    </button>
                </div>
            </div>
            
            <div class="content_count">
                <p>{{display}} Hours</p>     
            </div>   
                        
        </div>
        
    </div>
    <div class="footer">
        <p>Derechos reservados de Autor</p>
    </div>
</div>
